@import '~bootstrap/scss/bootstrap';

.top {
    height: 30px;
    background-color: rgb(2, 130, 249);
    line-height: 30px;
}

.header_container {
    background-color: white;
    height: 80px;
    align-items: center;
    img {
        width: 50px;
    }
    ul {
        margin: 0;
    }
}

.jumbo_image {
    height: 300px;
    background-image: url(/resources/img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.top_footer {
    height: 100px;
    line-height: 100px;
    background-color: rgb(2, 130, 249);
    font-size: 0.8rem;
    .navbar_top {
        border:1px solid white;
        width: 90%;
        margin: 0 auto;
    }
    img {
        height: 40px;
        max-width: 40px;
    }
}